<form method="post" action="{{ path('app_participante_delete', {'id': participante.id}) }}" onsubmit="return confirm('Seguro que deseas eliminar?');">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ participante.id) }}">
     <br><button type="btn" class="btn btn-outline-danger">Eliminar</button>
</form>
