{% extends 'layout.html.twig' %}

{% block title %}New Participante{% endblock %}

{% block contenido %}
    <h1>Crear Nuevo Participante</h1>

    {{ include('participante/_form.html.twig') }}

    <a href="{{ path('app_participante_index') }}">Volver a la lista</a>
{% endblock %}
