<form method="post" action="{{ path('app_audio_delete', {'id': audio.id}) }}" onsubmit="return confirm('Seguro que deseas eliminar?');">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ audio.id) }}">
     <br><button type="btn" class="btn btn-outline-danger">Eliminar</button>
</form>
