{% extends 'layout.html.twig' %}

{% block title %}Editar Audio{% endblock %}

{% block contenido %}
    <h1>Editar Audio</h1>

    {{ include('audio/_form.html.twig', {'button_label': 'Actualizar'}) }}

    <a href="{{ path('app_audio_index') }}">Volver a la lista</a>

    {{ include('audio/_delete_form.html.twig') }}
{% endblock %}
