{% extends 'layout.html.twig' %}

{% block title %}New Audio{% endblock %}

{% block contenido %}
    <h1>Crear Nuevo Audio</h1>

    {{ include('audio/_form.html.twig') }}

    <a href="{{ path('app_audio_index') }}">Volver a la lista</a>
{% endblock %}
