ion-card-title{
  margin-top: 0px;
font-size: 80%
}

ion-card-subtitle{
  margin-bottom: 0px;
  font-size: 60%
}

ion-content {
  // overwrite inline styles
  --offset-bottom: auto!important;
  --overflow: hidden;
  overflow: auto;
  &::-webkit-scrollbar {
    display: none;
  }

}

ion-card-content{
  padding:0px;
}

img{
  width: 100%;
  height: 140px
}

ion-card{
  height: 170px;
}

ion-card-header{
  padding: 0px;
  margin:0px;
  height: 20px;
  text-align: center;
}

div{
  margin-top:90px
}



