
<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Tab 1</ion-title>
    </ion-toolbar>
  </ion-header>
  <div>
  <ion-grid *ngFor="let elemento of musicales['hydra:member']; let indice=index; let last=last">

    <ion-row *ngIf="indice % 2 === 0">
      <ion-col size="6">
        <ion-card>
          <ion-card-content>
            <img [src]="'http://localhost:8000/uploads/carteles/'+musicales['hydra:member'][indice]['cartel']">
          </ion-card-content>
          <ion-card-header>
            <ion-card-subtitle>{{musicales['hydra:member'][indice]["anyo"]}}</ion-card-subtitle>
            <ion-card-title>{{musicales['hydra:member'][indice]["nombre"]}}</ion-card-title>
          </ion-card-header>
        </ion-card>
      </ion-col>
      <ion-col size="6" *ngIf="last !== true">
        <ion-card>
          <ion-card-content>
            <img [src]="'http://localhost:8000/uploads/carteles/'+musicales['hydra:member'][indice+1]['cartel']">
          </ion-card-content>
          <ion-card-header>
            <ion-card-subtitle>{{musicales['hydra:member'][indice+1]["anyo"]}}</ion-card-subtitle>
            <ion-card-title>{{musicales['hydra:member'][indice+1]["nombre"]}}</ion-card-title>
          </ion-card-header>
        </ion-card>
      </ion-col>
    </ion-row>
  </ion-grid>
</div>
</ion-content>
