<form method="post" action="{{ path('app_musical_delete', {'id': musical.id}) }}" onsubmit="return confirm('Seguro que deseas eliminar?');">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ musical.id) }}">
    <br><button type="btn" class="btn btn-outline-danger">Eliminar</button>
</form>
