{% extends 'layout.html.twig' %}

{% block title %}New Musical{% endblock %}

{% block contenido %}
    <h1>Crear Nuevo Musical</h1>

    {{ include('musical/_form.html.twig') }}

    <a href="{{ path('app_musical_index') }}">Volver a la lista</a>
{% endblock %}
