{% extends 'layout.html.twig' %}

{% block title %}New Musical{% endblock %}

{% block contenido %}
    <h1>Create new Musical</h1>

    {{ include('musical/_form.html.twig') }}

    <a href="{{ path('app_musical_index') }}">back to list</a>
{% endblock %}
