<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Tab 2
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <br>
  <swiper [effect]="'cards'" [grabCursor]="true" class="mySwiper">
    <ng-template swiperSlide *ngFor="let elemento of imagenes['hydra:member']; let indice=index; let last=last"><img [src]="'http://localhost:8000/uploads/images/'+elemento.enlace"></ng-template>
  </swiper>
  <br>
  <!--
  <button pButton pRipple type="button" label="Primary" class="p-button-rounded"></button>
<button pButton pRipple type="button" label="Secondary" class="p-button-rounded"></button>
<button pButton pRipple type="button" label="Success" class="p-button-rounded"></button>
<button pButton pRipple type="button" label="Info" class="p-button-rounded"></button>
<button pButton pRipple type="button" label="Warning" class="p-button-rounded"></button>
<button pButton pRipple type="button" label="Help" class="p-button-rounded"></button>
<button pButton pRipple type="button" label="Danger" class="p-button-rounded"></button>
-->
</ion-content>
