<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Tab 3
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">


        <ion-list inset="true">
          <ion-list-header>Grabaciones Musical</ion-list-header>
          <ion-accordion-group>
            <ion-accordion value="colors">
              <ion-item slot="header">
                <ion-label>Canciones Principales</ion-label>
              </ion-item>

              <ion-list slot="content">
                <ion-item *ngFor="let elemento of audios['hydra:member']; let indice=index; let last=last">
                  <ion-label>
                    <h5>{{elemento.descripcion}}</h5>
                    <audio [src]="'http://localhost:8000/uploads/audios/'+elemento.enlace"
                    controls></audio></ion-label>
                </ion-item>
              </ion-list>
            </ion-accordion>
            <ion-accordion value="shapes">
              <ion-item slot="header">
                <ion-label>Karaoke</ion-label>
              </ion-item>

              <ion-list slot="content">
                <div *ngFor="let elemento of audios['hydra:member']; let indice=index; let last=last">
                <ion-item  *ngIf="elemento.tipo !== 'Cancion'" >
                  <ion-label><h5>{{elemento.descripcion}}</h5>
                    <audio [src]="'http://localhost:8000/uploads/audios/'+elemento.enlace"
               controls></audio></ion-label>
                </ion-item>
              </div>
              </ion-list>
            </ion-accordion>

          </ion-accordion-group>
        </ion-list>

        <ion-list inset="true">
          <ion-list-header>Originales Musical</ion-list-header>
          <ion-accordion-group>
            <ion-accordion value="colors">
              <ion-item slot="header">
                <ion-label>Canciones Principales</ion-label>
              </ion-item>

              <ion-list slot="content">
                <ion-item *ngFor="let elemento of audios['hydra:member']; let indice=index; let last=last">
                  <ion-label>
                    <h5>{{elemento.descripcion}}</h5>
                    <audio [src]="'http://localhost:8000/uploads/audios/'+elemento.enlace"
                    controls></audio></ion-label>
                </ion-item>
              </ion-list>
            </ion-accordion>
            <ion-accordion value="shapes">
              <ion-item slot="header">
                <ion-label>Karaoke</ion-label>
              </ion-item>

              <ion-list slot="content">
                <div *ngFor="let elemento of audios['hydra:member']; let indice=index; let last=last">
                <ion-item  *ngIf="elemento.tipo !== 'Cancion'" >
                  <ion-label><h5>{{elemento.descripcion}}</h5>
                    <audio [src]="'http://localhost:8000/uploads/audios/'+elemento.enlace"
               controls></audio></ion-label>
                </ion-item>
              </div>
              </ion-list>
            </ion-accordion>

          </ion-accordion-group>
        </ion-list>
</ion-content>
