{% extends 'base.html.twig' %}

{% block title %}Log in!{% endblock %}

{% block body %}

<!doctype html>
<html lang="es">
  <head>
  	<title>Login 01</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

	<link href="https://fonts.googleapis.com/css?family=Lato:300,400,700&display=swap" rel="stylesheet">

	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
	
	<link rel="stylesheet" href="css/style.css">

	</head>
	<body>
	<section class="ftco-section">
		<div class="container">
			<div class="row justify-content-center">
				<div class="col-md-6 text-center mb-5">
					<h2 class="heading-section">Musical IES L'OM Admin-Panel</h2>
				</div>
			</div>
			<div class="row justify-content-center">
				<div class="col-md-7 col-lg-5">
					<div class="login-wrap p-4 p-md-5" style="box-shadow:0px 10px 34px -15px rgba(0, 0, 0, 0.24)">
		      	<div class="icon d-flex align-items-center justify-content-center" style="width: 80px;
color: white;
height: 80px;
background: #866ec7;
border-radius: 50%;
font-size: 30px;
margin: 0 auto;
margin-bottom: 10px;">
		      		<span class="fa fa-user-o"></span>
		      	</div>
		      	<h3 class="text-center mb-4">Iniciar Sesión</h3>
						<form method="post" class="login-form">
                        {% if error %}
        <div class="alert alert-danger">{{ error.messageKey|trans(error.messageData, 'security') }}</div>
    {% endif %}
		      		<div class="form-group">
		      			<input type="text" class="form-control rounded-left" placeholder="Username" value="{{ last_username }}" name="username" id="inputUsername" requautocomplete="username" autocomplete="username" required autofocus>
		      		</div>
	            <div class="form-group d-flex">
	              <input type="password" class="form-control rounded-left" placeholder="Password" name="password" id="inputPassword" autocomplete="current-password" required>
	            </div>
                <input type="hidden" name="_csrf_token"
           value="{{ csrf_token('authenticate') }}"
    >
	            <div class="form-group">
	            	<button type="submit" style="color:white" class="form-control btn btn-primary rounded submit px-3">Login</button>
	            </div>
                
	            <div class="form-group d-md-flex">
	            	<div class="w-50">
	            		<label class="checkbox-wrap checkbox-primary">Remember Me
									  <input type="checkbox" checked>
									  <span class="checkmark"></span>
									</label>
								</div>
	            </div>
	          </form>
	        </div>
				</div>
			</div>
		</div>
	</section>

	<script src="js/jquery.min.js"></script>
  <script src="js/popper.js"></script>
  <script src="js/bootstrap.min.js"></script>
  <script src="js/main.js"></script>

	</body>
</html>

{% endblock %}
