<form method="post" action="{{ path('app_imagen_delete', {'id': imagen.id}) }}" onsubmit="return confirm('Seguro que deseas eliminar?');">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ imagen.id) }}">
    <br><button type="btn" class="btn btn-outline-danger">Eliminar</button>
</form>
