{% extends 'layout.html.twig' %}

{% block title %}Edit Imagen{% endblock %}

{% block contenido %}
    <h1>Editar Imagen</h1>

    {{ include('imagen/_form.html.twig', {'button_label': 'Update'}) }}

    <a href="{{ path('app_imagen_index') }}">Volver a la lista</a>

    {{ include('imagen/_delete_form.html.twig') }}
{% endblock %}
