{% extends 'layout.html.twig' %}

{% block title %}New Imagen{% endblock %}

{% block contenido %}
    <h1>Crear Nueva Imagen</h1>

    {{ include('imagen/_form.html.twig') }}

    <a href="{{ path('app_imagen_index') }}">Volver a la lista</a>
{% endblock %}
